<div *ngIf="show; then ok else nok"></div>
  <ng-template #ok >
    <ul>
      <li *ngFor="let color of colors; let o = odd; let l = last; let e = even" [ngStyle]="{color: color}"
        [ngClass]="{'even': e, 'odd': o, 'last': l}" [ngSwitch]="color">
        <span *ngSwitchCase="'blue'"> I'm the blue color
        </span>
        <span *ngSwitchDefault >{{color | decorate:'**' | uppercase }}</span>
      </li>
    </ul>
  </ng-template>

  <ng-template #nok >
    <p> Not ok</p>
  </ng-template>
